#chart-container {
  position: relative;
  height: 30vh;
  width: 40vw;
}

.tab_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.tab_button {
  display: inline-block;
  width: fit-content;
  border: none;
  background-color: grey;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.tab-selected {
  background-color: lightblue;
}

.tab_button:hover {
  background-color: blue;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

body {
  background-color: rgb(0, 5, 1);
  display: grid;
}

#simulation {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
}

#settings {
  grid-column: 1;
  justify-self: start;
}

#graphs {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
}

#top {
  grid-column: 1;
  grid-row: 1;
}

button {
  display: inline-block;
  width: fit-content;
  border: none;
  outline: none;
}
