#chart-container {
  position: relative;
  height: 60vh;
  width: 80vw;
}

.tab_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.tab_button{
  display : inline-block;
  width : fit-content;
  border: none;
  background-color: #4CAF50;
  /* padding: 14px 28px; */
  /* font-size: 16px; */
  cursor: pointer;
  text-align: center;
}

.tab-selected {
    background-color: red;
}

.tab_button:hover {
  background-color: blue;
  color:white;
}