#chart-container {
  position: relative;
  height: 60vh;
  width: 80vw;
}

.settings_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.settings_nav .tab_button{
  display : inline-block;
  width : 60px;

}